<div class="container m-1">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input id="inputEmail" class="form-control" [(ngModel)]="username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password">
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="send()">Send</button>
</div>
{{username | json}}
