<p>
  user-list works!
</p>

<table>
  <thead>
  <th>#</th>
  <th>username</th>
  <th>password</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of (users$| async );let i = index">
    <td [textContent]="i"></td>
    <td [textContent]="user.name"></td>
    <td [textContent]="user.password"></td>
  </tr>
  </tbody>
</table>

<div class="row m-4">
  <div class="col-lg-3">
    <div class="form-group">
      <label> username
        <input class="form-input" [(ngModel)]="user.name">
      </label>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <label> password
        <input class="form-input" [(ngModel)]="user.password">
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="ml-5">
    <button (click)="saveUser(user)">Send</button>
  </div>
</div>
