<main class="container">
  <app-films-list
    [films]="films$ | async"
    [label]="'Список фильмов'"
    (select)="onSelect($event)">
  </app-films-list>
  <app-film-selected [film]="selected$ | async">
  </app-film-selected>
</main>
<!--it is films root component-->
