<ul>
  <li>
    <a routerLink="/">
      Home
    </a>
  </li>
  <li>
    <a routerLink="/users">
      Users
    </a>
  </li>
  <li>
    <a routerLink="/temp">
      Temp
    </a>
  </li>

  <li>
    <a routerLink="/films">
      Films
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
